In [1]:
import pandas as pd

In [4]:
data=pd.read_csv(r"C:\Users\shash\Downloads\seattle-weather.csv")

In [5]:
data

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [6]:
# BASCIC ANALYSIS

In [7]:
data.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [8]:
data.tail()

            date  precipitation  temp_max  temp_min  wind weather
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain
1458  2015-12-29            0.0       7.2       0.6   2.6     fog
1459  2015-12-30            0.0       5.6      -1.0   3.4     sun
1460  2015-12-31            0.0       5.6      -2.1   3.5     sun

In [9]:
data.shape

(1461, 6)

In [10]:
data.info

<bound method DataFrame.info of             date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]>

In [11]:
data.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [12]:
data.columns

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')

In [13]:
columns=data.columns

In [14]:
columns

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')

In [16]:
for i in columns:
    print(i)

date
precipitation
temp_max
temp_min
wind
weather

In [18]:
data.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [24]:
data['weather'].unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

In [28]:
data.nunique()

date             1461
precipitation     111
temp_max           67
temp_min           55
wind               79
weather             5
dtype: int64

In [26]:
data.count

<bound method DataFrame.count of             date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]>

In [27]:
data.value_counts()

date        precipitation  temp_max  temp_min  wind  weather
2012-01-01  0.0            12.8       5.0      4.7   drizzle    1
2014-09-09  0.0            21.7       13.3     2.3   sun        1
2014-09-07  0.0            28.3       13.3     2.1   sun        1
2014-09-06  0.0            32.2       15.0     2.9   sun        1
2014-09-05  0.0            27.8       13.9     6.5   fog        1
                                                               ..
2013-04-30  0.0            12.8       4.4      2.4   sun        1
2013-04-29  3.8            13.9       6.7      4.2   rain       1
2013-04-28  1.0            15.0       9.4      5.2   rain       1
2013-04-27  0.0            13.9       10.6     5.9   sun        1
2015-12-31  0.0            5.6       -2.1      3.5   sun        1
Length: 1461, dtype: int64

In [29]:
data['weather'].value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [30]:
# find all the unique "wind" values in the data

In [31]:
data.head(6)

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain
5  2012-01-06            2.5       4.4       2.2   2.2     rain

In [32]:
data.nunique()

date             1461
precipitation     111
temp_max           67
temp_min           55
wind               79
weather             5
dtype: int64

In [34]:
data['wind'].nunique()

79

In [35]:
data['wind'].unique

<bound method Series.unique of 0       4.7
1       4.5
2       2.3
3       4.7
4       6.1
       ...
1456    2.9
1457    1.3
1458    2.6
1459    3.4
1460    3.5
Name: wind, Length: 1461, dtype: float64>

In [36]:
# find the number of tyms when the weather is exactly rainy

In [37]:
data['weather'].unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

In [38]:
data.weather.value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [39]:
data.weather == 'rain'

0       False
1        True
2        True
3        True
4        True
        ...
1456     True
1457     True
1458    False
1459    False
1460    False
Name: weather, Length: 1461, dtype: bool

In [40]:
data[data.weather == 'rain']

            date  precipitation  temp_max  temp_min  wind weather
1     2012-01-02           10.9      10.6       2.8   4.5    rain
2     2012-01-03            0.8      11.7       7.2   2.3    rain
3     2012-01-04           20.3      12.2       5.6   4.7    rain
4     2012-01-05            1.3       8.9       2.8   6.1    rain
5     2012-01-06            2.5       4.4       2.2   2.2    rain
...          ...            ...       ...       ...   ...     ...
1452  2015-12-23            6.1       5.0       2.8   7.6    rain
1453  2015-12-24            2.5       5.6       2.2   4.3    rain
1454  2015-12-25            5.8       5.0       2.2   1.5    rain
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain

[641 rows x 6 columns]

In [43]:
data.groupby('weather').get_group('rain')

            date  precipitation  temp_max  temp_min  wind weather
1     2012-01-02           10.9      10.6       2.8   4.5    rain
2     2012-01-03            0.8      11.7       7.2   2.3    rain
3     2012-01-04           20.3      12.2       5.6   4.7    rain
4     2012-01-05            1.3       8.9       2.8   6.1    rain
5     2012-01-06            2.5       4.4       2.2   2.2    rain
...          ...            ...       ...       ...   ...     ...
1452  2015-12-23            6.1       5.0       2.8   7.6    rain
1453  2015-12-24            2.5       5.6       2.2   4.3    rain
1454  2015-12-25            5.8       5.0       2.2   1.5    rain
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain

[641 rows x 6 columns]

In [44]:
data.groupby('weather')