In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\shash\Downloads\seattle-weather.csv")

In [3]:
data

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [4]:
# BASCIC ANALYSIS

In [5]:
data.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [6]:
data.tail()

            date  precipitation  temp_max  temp_min  wind weather
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain
1458  2015-12-29            0.0       7.2       0.6   2.6     fog
1459  2015-12-30            0.0       5.6      -1.0   3.4     sun
1460  2015-12-31            0.0       5.6      -2.1   3.5     sun

In [7]:
data.shape

(1461, 6)

In [8]:
data.info

<bound method DataFrame.info of             date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]>

In [9]:
data.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [10]:
data.columns

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')

In [11]:
columns=data.columns

In [12]:
columns

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')

In [13]:
for i in columns:
    print(i)

date
precipitation
temp_max
temp_min
wind
weather

In [14]:
data.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [15]:
data['weather'].unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

In [16]:
data.nunique()

date             1461
precipitation     111
temp_max           67
temp_min           55
wind               79
weather             5
dtype: int64

In [17]:
data.count

<bound method DataFrame.count of             date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]>

In [18]:
data.value_counts()

date        precipitation  temp_max  temp_min  wind  weather
2012-01-01  0.0            12.8       5.0      4.7   drizzle    1
2014-09-09  0.0            21.7       13.3     2.3   sun        1
2014-09-07  0.0            28.3       13.3     2.1   sun        1
2014-09-06  0.0            32.2       15.0     2.9   sun        1
2014-09-05  0.0            27.8       13.9     6.5   fog        1
                                                               ..
2013-04-30  0.0            12.8       4.4      2.4   sun        1
2013-04-29  3.8            13.9       6.7      4.2   rain       1
2013-04-28  1.0            15.0       9.4      5.2   rain       1
2013-04-27  0.0            13.9       10.6     5.9   sun        1
2015-12-31  0.0            5.6       -2.1      3.5   sun        1
Length: 1461, dtype: int64

In [19]:
data['weather'].value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [20]:
# find all the unique "wind" values in the data

In [21]:
data.head(6)

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain
5  2012-01-06            2.5       4.4       2.2   2.2     rain

In [22]:
data.nunique()

date             1461
precipitation     111
temp_max           67
temp_min           55
wind               79
weather             5
dtype: int64

In [23]:
data['wind'].nunique()

79

In [24]:
data['wind'].unique

<bound method Series.unique of 0       4.7
1       4.5
2       2.3
3       4.7
4       6.1
       ...
1456    2.9
1457    1.3
1458    2.6
1459    3.4
1460    3.5
Name: wind, Length: 1461, dtype: float64>

In [25]:
# find the number of tyms when the weather is exactly rainy

In [26]:
data['weather'].unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

In [27]:
data.weather.value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [28]:
data.weather == 'rain'

0       False
1        True
2        True
3        True
4        True
        ...
1456     True
1457     True
1458    False
1459    False
1460    False
Name: weather, Length: 1461, dtype: bool

In [29]:
data[data.weather == 'rain']

            date  precipitation  temp_max  temp_min  wind weather
1     2012-01-02           10.9      10.6       2.8   4.5    rain
2     2012-01-03            0.8      11.7       7.2   2.3    rain
3     2012-01-04           20.3      12.2       5.6   4.7    rain
4     2012-01-05            1.3       8.9       2.8   6.1    rain
5     2012-01-06            2.5       4.4       2.2   2.2    rain
...          ...            ...       ...       ...   ...     ...
1452  2015-12-23            6.1       5.0       2.8   7.6    rain
1453  2015-12-24            2.5       5.6       2.2   4.3    rain
1454  2015-12-25            5.8       5.0       2.2   1.5    rain
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain

[641 rows x 6 columns]

In [30]:
data.groupby('weather').get_group('rain')

            date  precipitation  temp_max  temp_min  wind weather
1     2012-01-02           10.9      10.6       2.8   4.5    rain
2     2012-01-03            0.8      11.7       7.2   2.3    rain
3     2012-01-04           20.3      12.2       5.6   4.7    rain
4     2012-01-05            1.3       8.9       2.8   6.1    rain
5     2012-01-06            2.5       4.4       2.2   2.2    rain
...          ...            ...       ...       ...   ...     ...
1452  2015-12-23            6.1       5.0       2.8   7.6    rain
1453  2015-12-24            2.5       5.6       2.2   4.3    rain
1454  2015-12-25            5.8       5.0       2.2   1.5    rain
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain

[641 rows x 6 columns]

In [31]:
data.groupby('weather')

In [32]:
# find the number of times when the "wind speed is exactly 4"

In [33]:
data[data['wind'] == 4]

            date  precipitation  temp_max  temp_min  wind  weather
103   2012-04-13            0.0      15.0       3.9   4.0  drizzle
141   2012-05-21           14.0      16.7      10.0   4.0     rain
201   2012-07-20           15.2      19.4      13.9   4.0     rain
309   2012-11-05            0.8      15.0       7.8   4.0     rain
396   2013-01-31            3.0       9.4       7.2   4.0     rain
473   2013-04-18            5.3      11.7       6.7   4.0     rain
487   2013-05-02            0.0      20.6       6.7   4.0      sun
514   2013-05-29            5.6      16.1       9.4   4.0     rain
721   2013-12-22           10.7      10.6       8.3   4.0     rain
835   2014-04-15            0.5      14.4       7.8   4.0     rain
873   2014-05-23            3.8      20.0      12.8   4.0     rain
893   2014-06-12            1.8      21.7      12.2   4.0     rain
1080  2014-12-16            0.0      10.0       8.3   4.0      sun
1128  2015-02-02            7.4      11.1       5.0   4.0     rain
1136  2015-02-10            0.3      12.8       8.3   4.0     rain
1143  2015-02-17            0.0      16.1       4.4   4.0      sun
1153  2015-02-27           18.3      10.0       6.7   4.0     rain
1181  2015-03-27            1.0      18.3       8.9   4.0     rain
1415  2015-11-16            2.0       8.9       1.7   4.0     rain
1419  2015-11-20            0.0       8.3       0.6   4.0      fog
1434  2015-12-05           15.7      10.0       6.1   4.0     rain

In [34]:
# find out the all the null values in dataset

In [35]:
data.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [36]:
data.notnull().sum()

date             1461
precipitation    1461
temp_max         1461
temp_min         1461
wind             1461
weather          1461
dtype: int64

In [37]:
# rename the column name "wind " to "wind speed "

In [38]:
data.rename(columns={'wind': 'wind speed'}, inplace=True)

In [39]:
data.head()

         date  precipitation  temp_max  temp_min  wind speed  weather
0  2012-01-01            0.0      12.8       5.0         4.7  drizzle
1  2012-01-02           10.9      10.6       2.8         4.5     rain
2  2012-01-03            0.8      11.7       7.2         2.3     rain
3  2012-01-04           20.3      12.2       5.6         4.7     rain
4  2012-01-05            1.3       8.9       2.8         6.1     rain

In [45]:
# what is the MEAN and STANDARD DEVIATION of wind speed

In [43]:
data['wind speed'].mean()

3.24113620807666

In [44]:
data['wind speed'].std()

1.4378250588746244

In [46]:
# find all the instances where rain is recorded

In [47]:
data['weather'] == 'rain'

0       False
1        True
2        True
3        True
4        True
        ...
1456     True
1457     True
1458    False
1459    False
1460    False
Name: weather, Length: 1461, dtype: bool

In [48]:
data[data['weather'] == 'rain']

            date  precipitation  temp_max  temp_min  wind speed weather
1     2012-01-02           10.9      10.6       2.8         4.5    rain
2     2012-01-03            0.8      11.7       7.2         2.3    rain
3     2012-01-04           20.3      12.2       5.6         4.7    rain
4     2012-01-05            1.3       8.9       2.8         6.1    rain
5     2012-01-06            2.5       4.4       2.2         2.2    rain
...          ...            ...       ...       ...         ...     ...
1452  2015-12-23            6.1       5.0       2.8         7.6    rain
1453  2015-12-24            2.5       5.6       2.2         4.3    rain
1454  2015-12-25            5.8       5.0       2.2         1.5    rain
1456  2015-12-27            8.6       4.4       1.7         2.9    rain
1457  2015-12-28            1.5       5.0       1.7         1.3    rain

[641 rows x 6 columns]

In [49]:
data[data['weather'] == 'rain'].value_counts()

date        precipitation  temp_max  temp_min  wind speed  weather
2012-01-02  10.9           10.6      2.8       4.5         rain       1
2013-11-01  1.3            17.8      11.7      1.4         rain       1
2014-06-15  0.5            18.3      10.0      3.6         rain       1
2014-06-16  3.6            17.8      8.9       2.4         rain       1
2014-06-17  1.3            17.8      10.0      3.0         rain       1
                                                                     ..
2013-02-12  1.0            11.1      7.2       5.6         rain       1
2013-02-13  2.3            9.4       7.2       4.1         rain       1
2013-02-14  1.0            9.4       5.6       2.2         rain       1
2013-02-16  0.0            11.1      3.9       5.6         rain       1
2015-12-28  1.5            5.0       1.7       1.3         rain       1
Length: 641, dtype: int64

In [53]:
data['weather'].value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64